form {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form div {
  min-width: 30%;
}

div:first-child {
  margin-bottom: 35px;
}

input {
  width: 100%;
  background: none;
  border: none;
  border-bottom: 2px solid #b34d4d;
  padding: 10px;
  font-size: 15px;
  text-align: center;
  color:#413636;
}

button {
  width: 150px;
  padding: 12px;
  margin: 50px;
  font-size: 14px;
  border-radius: 7px;
  border: none;
  background-color: #b34d4d;
  color: #FFF;
}

button:hover {
  cursor: pointer;
  color: #413636;
  box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.39);

}
