form {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 17%;
  height: 35vh;
  background-color: rgba(226, 226, 225, 0.459);
  width: 27vw;
  margin-left: 36vw;
}

form div {
  min-width: 50%;
}

div:first-child {
  margin-bottom: 35px;
}

input {
  width: 100%;
  background: floralwhite;
  border: none;
  border: 1px solid #3fec28;
  padding: 10px;
  font-size: 15px;
  text-align: center;
  color: black;
}

#songInput{
  margin-top: 30%;
}

button {
  width: 150px;
  padding: 12px;
  margin: 50px;
  font-size: 14px;
  border-radius: 7px;
  border: none;
  background-color: black;
  color: #FFF;
}

button:hover {
  cursor: pointer;
  color: #50dd3d;
  box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.39);
}
