form {
  width: 35%;
  margin: 10px auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  min-height: 250px;
  background-color: #202024;
  box-shadow: 3px 7px 15px rgba(0, 0, 0, 0.39);
}


input {
  width: 50%;
  background: #151515;
  border: none;
  /* border: 2px solid #3fec28; */
  border-radius: 6px;
  padding: 10px;
  font-size: 15px;
  text-align: center;
  color: white;
}


button {
  width: 150px;
  padding: 12px;
  font-size: 14px;
  border-radius: 7px;
  border: none;
  background-color: #50dd3d;
  color: #000;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
  color: #000;
  box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.39);
}
